:root{
    --dark-blue : #1E40AF;
    --light-blue: 
    #93C5FD;
}
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--dark-blue);
}
h1, p{
    color: white;
}
input{
    width: 100%;
    padding: 1rem;
    height: 50px;
    display: block;
    margin-bottom: 1rem;
}
label,caption{
    font-size: 1.3rem;
    padding: 1.5rem 1rem 0.5rem;
    margin-top: 1rem;
    color: var(--light-blue);
}
button{
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    border: none;
    margin: 1rem auto 0;
    background-color:var(--light-blue);
    color: var(--dark-blue);
    font-weight: bold;
}
.cashInput{
    display: none
}
.changeReturn{
    display: none;
}
.noOfNotes{
    background-color:white;
    font-weight: bold;
}
.error-message{
    padding-top: 1rem;
    color:white;
}
.changeReturn table, th, td{
    padding: 0.2rem;
    color: var(--dark-blue);
    background-color:var(--light-blue);
    border: 2px solid var(--dark-blue) ;
    border-collapse: collapse;
}

table{
    width: 100%;
    table-layout: fixed;
}

th,td{
    word-wrap: break-word;
}